html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.flex {
    display: flex;
}

.main-container {
    flex-flow: column wrap;
    justify-content: space-between;
}

.header, .footer {
    background-color: #C7C7C7;  
}
.header {
    height: 14%;
}

.footer {
    height: 11%;
}

.main-form {
    margin: 3.7%;
    background-color: #FAFAFA;
    flex-wrap: wrap;
    height: 60%;
}

.left-panel {
    flex-flow: column wrap;
    background-color: #4DB6E3;
    padding: 3%;
    width: 35%;
}

input {
    background-color: #75CCEE;
    width: 100%;
    height: 8%;
    margin-bottom: 3%;
    border: none;
    color: #FFFFFF;
}

input::placeholder {
    color: #FFFFFF;
    font-size: 90%;
    padding-left: 2%;
}

button {
    background-color: #75CCEE;
    color: #FFFFFF;
    border: none;
    height: 8%;
    margin-top: 10%;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 130%;
    color: #FFFFFF;
}

.right-panel {
 
    border: 1px solid #DFDCDD;
    flex-flow: column wrap;
    width: 58.7%;
}

.right-header {
    justify-content: center;
    padding: 3%;
    font-size: 130%;
    color: #FFFFFF;
}

.right-header-item {
    margin: 1%;
    width: 45px;
    height: 45px; 
    justify-content: center;
    align-items: center;
}

.blue-box { 
    background-color: #395a91;
}

.light-blue-box {
    background-color: #08B5E0;
}

.pink-box {
    background-color: #FF69B4;
}

.gray-box {
    background-color: #605F5F;
}

.input-container {
    padding: 0%;
    margin-left: 10%;
    margin-right: 10%;
}

.input-container i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #4DB6E3;
    font-size: 130%;
    height: 100%;
    width: 3%;
    padding: 1%;
    border: 1px solid #CCCCCC;
}

.input-container input {
    background-color: white;
    color: #000000;
    border:1px solid #CCCCCC;
    font-size: 105%;
    height: 100%;
    width: 97%;
    padding: 1%;
    outline: none;
}