.flex {
    display: flex;
}
.main-container {
    flex-flow: column wrap;
    height: 100vh;
    border: 1px solid black;
}

.header, .footer {
    background-color: #C7C7C7;
}
.header {
    height: 25%;
}
.footer {
    height: 15%;
}

.main {
    height: 59%;
    background-color: #FAFAFA;
}

.form {
    flex-wrap: wrap;
    margin: 3%;
    height: 100%;
}

.left-panel {
    flex-flow: column wrap;
    background-color: #4DB6E3;
    padding: 3%;
    width: 35%;
    height: 90%;
}

input {
    background-color: #75CCEE;
    height: 8%;
    margin: 3px;
    border: none;
}

input::placeholder {
    color: #FFFFFF;
    padding-left: 1%;
}

button {
    background-color: #75CCEE;
    color: #FFFFFF;
    border: none;
    height: 8%;
    margin-top: 10%;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: #FFFFFF;
}

.right-panel {
    background-color: orange;
    flex-flow: column wrap;
    width: 55%;
    height: 100%;
}

.right-header {
    justify-content: center;
    padding: 3%;
    gap: 10px;
    font-size: 130%;
    color: #FFFFFF;
}
.right-header-item {
    width: 45px;
    height: 45px; 
    justify-content: center;
    align-items: center;
}
.blue-box { 
    background-color: #395a91;
}
.light-blue-box {
    background-color: #08B5E0;
}
.pink-box {
    background-color: #FF69B4;
}
.gray-box {
    background-color: #605F5F;
}